[Desktop Entry]
Type=Application
Name=Sulafat
Name[pt_BR]=Sulafat
Name[es_ES]=Sulafat
Name[zh_CN]=Sulafat
GenericName=SSH Client
GenericName[pt_BR]=Cliente SSH
GenericName[es_ES]=Cliente SSH
GenericName[zh_CN]=SSH 客户端
Comment=Connect to Linux/Unix hosts via SSH
Comment[pt_BR]=Conecte-se a hosts Linux/Unix via SSH
Comment[es_ES]=Conéctese a hosts Linux/Unix mediante SSH
Comment[zh_CN]=通过 SSH 连接到 Linux/Unix 主机
Exec=sulafat
Icon=org.lyraos.Sulafat
Terminal=false
Categories=Network;RemoteAccess;TerminalEmulator;
Keywords=ssh;terminal;remote;linux;shell;lyra;
Keywords[pt_BR]=ssh;terminal;remoto;linux;shell;lyra;
Keywords[es_ES]=ssh;terminal;remoto;linux;shell;lyra;
Keywords[zh_CN]=ssh;终端;远程;linux;shell;lyra;
StartupNotify=true
